<extend name="Public/base"/>

<block name="style"><link rel="stylesheet" href="__CSS__/BeatPicker.min.css"/></block>

<block name="body">

		<div class="platCon">
			<div class="platState white">
				<div class="platTitle"><h2>提现记录</h2></div>
                <a class="refresh" onclick="javascript:location.reload(true);" title="刷新当前页面"></a>
				<div class="record">
                    <div class="reSearch">
                        <div class="reSearchM">
                            <form action="{:U('/Finance/index')}" method="get">
                                <div class="couponState">
                                    <input readonly class="coupState" name="status" type="text" class="center" placeholder="审核状态">
                                    <i></i>
                                    <div class="couSta" >
                                        <b>审核状态</b>
                                        <b>审核中</b>
                                        <b>通过</b>
                                        <b>拒绝</b>
                                    </div>
                                </div>
                                <input type="hide" name="s_time" style="width:0px;" /><input type="hide" name="e_time" style="width:0px;" />
                                <div class="changeDate">
                                    <input type="text" id="s_time" data-beatpicker="true" data-beatpicker-module="clear" placeholder="开始时间" />
                                    <input type="text" id="e_time" data-beatpicker="true" data-beatpicker-module="clear" placeholder="结束时间" />
                                </div>
                                <input type="submit" class="searchTo" value="搜索" onclick="javascript:format_changeDate('s_time','e_time');">
                            </form>
                        </div>

                        <div class="RCsearch">
                            <form action="{:U('/Finance/index')}" method="get">
                                <input class="sear" type="text" name="k_str" placeholder="搜索：银行卡号">
                                <input type="submit" class="searchTo" value="搜索" onclick="javascript:format_changeDate('s_time','e_time');">
                            </form>
                        </div>
                        <div class="change"><a href="javascript:;" class="RCsearchSimple">简易</a>	</div>
                    </div>

					<table class="fina_rec" cellspacing="0" cellpadding="0">
						<thead>
						<tr>
							<th width="70" class="leftradiu">序号</th>
							<th width="90" class="lan">提现类型</th>
							<th width="100">提现金额
                                <div class="sort" type="amount">
                                    <a class="asc  <if condition="($Think.request.order eq 'asc') AND ($Think.request.type eq 'amount') "> now</if>" title="从小到大"></a>
                                    <a class="desc <if condition="($Think.request.order eq 'desc') AND ($Think.request.type eq 'amount') ">now</if> " title="从大到小"></a>
                                </div>
                            </th>
							<th width="220" class="lan">开户行</th>
							<th width="90">开户名称</th>
							<th width="160" class="lan">银行卡号</th>
							<th width="170">提交时间</th>
							<th width="70" class="lan rightradiu">状态</th>
						</tr>
						</thead>
						<tbody>
						<notempty name="list">
							<volist name="list" id="vo" key="k">
							<tr>
								<td>{$k}</td>
								<td>{$vo.type|formatTransType}</td>
								<td>{$vo.amount|formatAmount}元</td>
								<td>{$vo.bank_name}</td>
								<td>{$vo.bank_user}</td>
								<td>{$vo.bank_no}</td>
								<td>{$vo.create_time}</td>
								<td>{$vo.status|formatTransStatus}</td>
							</tr>
							</volist>
							<else/>
							<td colspan="8" class="text-center"> Oh! 暂时还没有内容! </td>
							</notempty>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="8"></td>
						</tr>
						</tfoot>
					</table>
					<div class="page">{$_page}</div>
				</div>
			</div>
		</div>

</block>

<block name="script">
<script src="__JS__/BeatPicker.min.js"></script>
<script src="__JS__/changeDate.js"></script>
<script><if condition="($Think.request.status neq '') OR ($Think.request.s_time neq '') OR ($Think.request.e_time neq '') ">toggel("reSearchM");<else />toggel("RCsearch");</if></script>
</block>