<extend name="Public/base"/>

<block name="style"><link rel="stylesheet" href="__CSS__/BeatPicker.min.css"/></block>

<block name="body">

	<div class="platCon">
		<div class="platState white">
			<div class="platTitle"><h2>生成优惠券</h2></div>
			<form action="{:U('/Finance-generatePromoIndex')}" method="post">
			<div class="coupon">
				<ul>
					<li><i></i><span>价值</span><input type="text" name="value"><span>元</span></li>
					<li><i></i><span>数量</span><input type="text" name="number"><span>张</span></li>
					<li><i></i><span>兑换时间</span>
						<div class="Calendar">
							<input name="s_time" type="text" data-beatpicker="true" data-beatpicker-module="clear" placeholder="开始时间" />
							<input name="e_time" type="text" data-beatpicker="true" data-beatpicker-module="clear" placeholder="结束时间" />
						</div>
					</li>
					<li><i></i><span>备注</span><textarea name="remarks"></textarea></li>
					<li><input class="couponBtn" type="submit" value="生成"></li>
				</ul>

			</div>
			</form>
			<div class="clear mt_50"></div>
		</div>
	</div>

</block>


<block name="script"><script src="__JS__/BeatPicker.min.js"></script></block>