<extend name="Public/base"/>

<block name="body">
    <div class="platCon">
        <div class="platState white">
            <div class="platTitle"><h2>学生档案</h2></div>
            <div class="recordCou">
                <ul class="dataMyself">
                    <form action="{:U('admin/Charge/studentfile')}" method="post" onsubmit="">
                        <li><span></span><input type="text" name="student_id" placeholder="学号" id="student_id"><b></b>
                            <input type="submit" class="excesssave" value="搜索"> </li>
                    </form>

                    <form action="{:U('admin/Charge/savestudentfile')}" method="post" onsubmit="">
                        <li><i></i><span>学生照片：</span><img src="/Uploads{$student['student_photo']}" class=""></li>
                        <li><i></i><span>学生学号：</span>{$student['student_id']}<b></b></li>
                        <input name="student_id" type="hidden" value="{$student['student_id']}"/>
                        <li><i></i><span>学生姓名：</span>{$student['student_name']}<b></b></li>
                        <li><i></i><span>学生年级：</span><input type="text" name="student_grade" placeholder="七年级" id="student_grade"><b></b></li>
                        <li><i></i><span>学生班级：</span><input type="text" name="student_class" placeholder="七班" id="student_class"><b></b></li>
                        <li><i></i><span>校区：</span><input type="text" name="student_campus" placeholder="本部" id="student_campus"><b></b></li>
                        <li><i></i><span>学生宿舍楼：</span><input type="text" name="student_dorm_building" placeholder="校内A" id="student_dorm_building"><b></b></li>
                        <li><i></i><span>宿舍号：</span><input type="text" name="student_dorm_number" placeholder="203" id="student_dorm_number"><b></b></li>

                        <li><i></i><span>资料费：</span>
                            <label for="5">是</label> <input type="radio" checked="checked" name="student_data" value="是" id="5" >
                            <label for="6" style="padding-left: 20px">否</label> <input type="radio"  name="student_data" value="否" id="6" >
                            <b></b></li>

                        <li><i></i><span>保险费：</span>
                            <label for="7">是</label> <input type="radio" checked="checked" name="student_insurance" value="是" id="7" >
                            <label for="8" style="padding-left: 20px">否</label> <input type="radio"  name="student_insurance" value="否" id="8" >
                            <b></b></li>

                        <li><i></i><span>包餐费：</span>
                            <label for="9">是</label> <input type="radio" checked="checked" name="student_meal" value="是" id="9" >
                            <label for="10" style="padding-left: 20px">否</label> <input type="radio"  name="student_meal" value="否" id="10" >
                            <b></b></li>

                        <li><i></i><span>住宿费：</span>
                            <label for="13">是</label> <input type="radio" checked="checked" name="student_accommodation" value="是" id="13" >
                            <label for="14" style="padding-left: 20px">否</label> <input type="radio"  name="student_accommodation" value="否" id="14" >
                            <b></b></li>

                        <li><i></i><span>实验班：</span>
                            <label for="11">是</label> <input type="radio" checked="checked" name="student_test" value="是" id="11" >
                            <label for="12" style="padding-left: 20px">否</label> <input type="radio"  name="student_test" value="否" id="12" >
                            <b></b></li>

                        <li><i></i><span>在校状态：</span>
                            <label for="1">在校</label> <input type="radio" checked="checked" name="student_status" value="在校" id="1" >
                            <label for="2" style="padding-left: 20px">退学</label> <input type="radio"  name="student_status" value="退学" id="2" >
                            <label for="3" style="padding-left: 20px">休学</label> <input type="radio"  name="student_status" value="休学" id="3" >
                            <label for="4" style="padding-left: 20px">转学</label> <input type="radio"  name="student_status" value="转学" id="4" >
                            <b></b></li>
                        <if condition="$flag eq 1">
                            <else/>
                            <li><input type="submit" class="excesssave" value="提交"></li>
                        </if>
                    </form>
                </ul>
            </div>
        </div>
    </div>

</block>
<block name="script">
    <script type="text/javascript" src="__JS__/register.js"></script>
    <script type="text/javascript" src="__JS__/birthday.js"></script>
    <script type="text/javascript">
        $(function(){
            $.ms_DatePicker({
                YearSelector: ".sel_year",
                MonthSelector: ".sel_month",
                DaySelector: ".sel_day"
            });

            region_init("select_province","select_city","select_area");
        })
    </script>
</block>
<block name="style"><style>/* 资料管理-银行帐户 */
.certfBank{ width: 790px; margin-left: 80px; margin-top: 0px; overflow: hidden; margin-bottom: 100px;}
.CBcon{ margin-bottom: 30px;}
.CBcon i{ width: 3px; height: 15px; background: #2e97de; display: inline-block; vertical-align: middle;}
.CBcon span{ width: 75px; margin-left: 15px; font-size: 16px; color: #444; display: inline-block; vertical-align: middle;}
.CBcon input{ width: 200px; height: 35px; border: 1px solid #2e97de; border-radius: 4px; text-indent: 1em; vertical-align: middle; line-height: 35px;}
</style></block>