<extend name="Public/base"/>

<block name="body">
    <div class="platCon">
        <div class="platState white">
            <div class="platTitle"><h2>学生档案</h2></div>
            <div class="recordCou">
                <ul class="dataMyself">
                    <form action="{:U('admin/Charge/updatestudent')}" method="post" onsubmit="">
                        <input name="student_id" type="hidden" value="{$student['student_id']}"/>
                        <li><i></i><span>学生学号：</span>{$student['student_id']}<b></b></li>
                        <li><i></i><span>学生姓名：</span><input type="text" name="student_name" placeholder="张三" id="student_name"><b></b></li>

                        <li><i></i><span>学生性别：</span>
                            <label for="0">男</label> <input type="radio"  name="student_sex" value="男" id="0" >
                            <label for="1" style="padding-left: 20px">女</label> <input type="radio"  name="student_sex" value="女" id="1" >
                            <b></b></li>

                        <li><i></i><span>出生年月：</span><select name='student_year' id='student_year' class="sel_year" rel="2016" style="width: 50px"> </select> 年
                            <select name='student_month' id='student_month' class="sel_month" rel="1" style="width: 50px"> </select> 月
                            <select name='student_day' id='student_day' class="sel_day" rel="1" style="width: 50px"> </select> 日 </li>

                        <li><i></i><span>学生家庭地址：</span>
                            <select id="student_province" name="student_province"></select>
                            <select id="student_city" name="student_city"></select>
                            <select id="student_area" name="student_area"></select>
                            {$student['student_address']}<b></b></li>

                        <li><i></i><span>父亲：</span><input type="text" name="student_father" placeholder="张父" id="student_father"><b></b></li>
                        <li><i></i><span>父亲电话：</span><input type="text" name="student_father_phone" placeholder="18818217017" id="student_father_phone"><b></b></li>
                        <li><i></i><span>母亲：</span><input type="text" name="student_mother" placeholder="张母" id="student_mother"><b></b></li>
                        <li><i></i><span>母亲电话：</span><input type="text" name="student_mother_phone" placeholder="18818217017" id="student_mother_phone"><b></b></li>
                        <li><input type="submit" class="excesssave" value="修改"></li>
                    </form>
                </ul>
            </div>
        </div>
    </div>

</block>
<block name="script">
    <script type="text/javascript" src="__JS__/register.js"></script>
    <script type="text/javascript" src="__JS__/birthday.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#student_name').val("{$student['student_name']}")
            $('#student_father').val("{$student['student_father']}")
            $('#student_father_phone').val("{$student['student_father_phone']}")
            $('#student_mother').val("{$student['student_mother']}")
            $('#student_mother_phone').val("{$student['student_mother_phone']}")
            if("{$student['student_sex']}" == '男'){
                $("#0").attr("checked","checked");
            }else{
                $("#1").attr("checked","checked");
            }
            //出生日期处理
            var birthdate = "{$student['student_birthdate']}".split('-')
            var student_year = birthdate[0]
            var student_month = birthdate[1].replace('0','')
            var student_day = birthdate[2].replace('0','')
            $('#student_year').attr('rel',student_year)
            $('#student_month').attr('rel',student_month)
            $('#student_day').attr('rel',student_day)
            $.ms_DatePicker({
                YearSelector: ".sel_year",
                MonthSelector: ".sel_month",
                DaySelector: ".sel_day"
            });
            //出生地址处理
            var student_P="{$student['student_province']}";//省
            var student_C="{$student['student_city']}";//市
            var student_A="{$student['student_area']}";//区
            region_init("student_province","student_city","student_area",student_P,student_C,student_A);

        })
    </script>
</block>
<block name="style"><style>/* 资料管理-银行帐户 */
.certfBank{ width: 790px; margin-left: 80px; margin-top: 0px; overflow: hidden; margin-bottom: 100px;}
.CBcon{ margin-bottom: 30px;}
.CBcon i{ width: 3px; height: 15px; background: #2e97de; display: inline-block; vertical-align: middle;}
.CBcon span{ width: 75px; margin-left: 15px; font-size: 16px; color: #444; display: inline-block; vertical-align: middle;}
.CBcon input{ width: 200px; height: 35px; border: 1px solid #2e97de; border-radius: 4px; text-indent: 1em; vertical-align: middle; line-height: 35px;}
</style></block>